<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" name="EmployeeID" #EmployeeID="ngModel" [(ngModel)]="empSrv.SelectedEmployee.EmployeeID" />
  <div class="form-group">
    <label for="txtFName">First Name</label>
    <input type="text" class="form-control" id="txtFName" name="FirstName" placeholder="Enter Your First Name" [(ngModel)]="empSrv.SelectedEmployee.FirstName">    
  </div>
  <div class="form-group">
    <label for="txtLName">Last Name</label>
    <input type="text" class="form-control" id="txtLName" name="LastName" placeholder="Enter Your Last Name" [(ngModel)]="empSrv.SelectedEmployee.LastName">
  </div>
  
  <div class="form-group">
    <label for="txtPosition">Position</label>
    <input type="text" class="form-control" id="txtPosition" name="Position" placeholder="Enter Your Position" [(ngModel)]="empSrv.SelectedEmployee.Position">
  </div>
  
  <div class="form-group">
    <label for="txtOffice">Office</label>
    <input type="text" class="form-control" id="txtOffice" name="Office" placeholder="Enter Your Office" [(ngModel)]="empSrv.SelectedEmployee.Office">
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!employeeForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(employeeForm)">
        <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>
